{% extends 'inventario/base.html'%}

{% block title  %}
 Listado de productos 
{% endblock  %}

{% block header %}
    <header class="w-full bg-red-700 p-6">
            <h1 class="text-xl font-bold">listado de productos</h1>
</header>
{% endblock %}


{% block main %}   
<main>
    <section>
        <a href="" class="border border-violet-400 rounded p-2 shadow text-center">
            craer prodcuto ñañañaña
        </a>
        <h2>aqui va a estar el listado de productos tussi kiere </h2>
        <p> mota mota</p>
        <ul>
          {% for producto in object_list %}
            <li class="underline flex flex-col gap-1 p-2 shadow rounded">
                <span>
                    {{ producto.nombre}} | {{producto.precio}} | {{producto.stock}}
                </span>
                <span>
                    {{producto.descripcion}}
                </span>
            </li>
          {%endfor%}
        </ul>
    </section>
</main>
{% endblock  %}

{% block footer%}
<footer>
    <span>2025 omega el real</span>
</footer>
{% endblock  %}