{% extends 'inventario/base.html'%}

{% block title  %}
 Listado de productos 
{% endblock  %}

{% block %}
    <header>
        <h1>listado de productos</h1>
{% endblock  %}


{% block main %}   
<main>
    <section>
        <h2>aqui va a estar el listado de productos</h2>
        <p> mota mota</p>
        <ul>
           <li>1. producto</li> 
           <li>2. producto</li> 
           <li>3. producto</li> 
           <li>4. producto</li> 
           <li>5. producto</li> 
        </ul>
    </section>
</main>
{% endblock  %}

{% block footer%}
<footer>
    <span>2025 omega el real</span>
</footer>
{% endblock  %}